p {
  color: blue;
}
p::first-letter {
  font-family: "Smooch", cursive;
  font-size: 30px;
}
p::first-line {
  background-color: plum;
}
p::before {
  position: absolute;
  top: 10px;
  content: "＂";
  color: purple;
  display: inline-block;
  font-size: large;
}
p::after {
  bottom: 5px;
  right: 10px;
  content: "＂";
  color: purple;
  display: inline-block;
  font-size: large;
}
