.link-list li {
  display: inline-block;
}
.page-link {
  text-decoration: none;
  background-color: lightblue;
  padding: 10px;
  color: rgb(99, 64, 0);
}
.page-link:hover {
  background-color: brown;
  color: aliceblue;
}
