div {
  width: 150px;
  height: 100px;
  background-color: cadetblue;
  position: fixed;
  top: 40%;
  left: 40%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}
